@model Epiworx.WebMvc.Models.HourListModel
@using Epiworx.WebMvc.Helpers
<div class="hgroup">
    <h2>
        Hours</h2>
</div>
<table>
    <thead>
        <tr>
            <th style="width: 80px">
                Date
            </th>
            <th style="width: 100px">
                Story
            </th>
            <th style="width: 100px">
                User
            </th>
            <th>
                Notes
            </th>
            <th class="number">
                Duration
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var currentProjectId = 0;
            var currentProjectName = string.Empty;
        }
        @foreach (var hour in Model.Hours
            .OrderBy(hour => hour.ProjectName)
            .ThenBy(hour => hour.StoryId))
        {
            if (currentProjectId != hour.ProjectId)
            {
                if (currentProjectId != 0)
                {
            <tr class="group-footer">
                <td colspan="4">
                    Total
                </td>
                <td class="number">@Model.Hours.Where(row => row.ProjectId == currentProjectId).Sum(row => row.Duration).ToString("N2")
                </td>
            </tr>
                }
            <tr class="group-header">
                <td colspan="5">@Html.ActionLink(hour.ProjectName, "Details", "Project", new { id = hour.ProjectId }, null)
                </td>
            </tr>
                currentProjectId = hour.ProjectId;
                currentProjectName = hour.ProjectName;
            }
            <tr>
                <td>
                    @Html.ActionLink(hour.Date.ToShortDateString(), "Edit", new { id = hour.HourId })
                </td>
                <td>
                    @Html.ActionLink(hour.StoryId.ToString(), "Details", "Hour", new { id = hour.StoryId })
                </td>
                <td>@hour.UserName
                </td>
                 <td>@hour.Notes
                </td>
                <td class="number">@hour.Duration.ToString("F2")
                </td>
            </tr>
        }
        <tr class="group-footer">
            <td colspan="4">
                Total
            </td>
            <td class="number">@Model.Hours.Where(row => row.ProjectId == currentProjectId).Sum(row => row.Duration).ToString("N2")
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                Total
            </td>
            <td class="number">
                @Model.Hours.Sum(row => row.Duration).ToString("F2")
            </td>
        </tr>
    </tfoot>
</table>
