<div id="header-menu">
    <div class="wrapper">
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Projects", "Index", "Project")</li>
            <li>@Html.ActionLink("Stories", "Index", "Story")</li>
            <li>@Html.ActionLink("Hours", "Index", "Hour")</li>
            <li>@Html.ActionLink("Users", "Index", "User")</li>
            <li>@Html.ActionLink("Search", "Index", "Find")</li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
