@model Epiworx.WebMvc.ModelBase
@if (Model.Actions.Count != 0)
{
    <div class="part">
        <div class="wrapper">
            <ul class="actions">
                @foreach (var action in Model.Actions)
                {
                    <li@if (!string.IsNullOrEmpty(action.CssClass))
                       {<text> class="@action.CssClass"</text>}>
                        @if (!string.IsNullOrEmpty(action.ImageUrl))
                        {<text><img src="@action.ImageUrl" alt="@action.Caption"/></text>}<a href="@action.NavigateUrl">@action.Caption</a></li>
                }
            </ul>
        </div>
    </div>
}