@model Epiworx.WebMvc.Models.StoryListModel
@using Epiworx.WebMvc.Helpers
<div class="section">
    <div class="hgroup">
        <img src="@Url.Content("~/Content/story.png")" alt="Story"/>
        <h2>
            Stories</h2>
    </div>
    @foreach (var statusName in Model.Stories.Select(row => row.StatusName).Distinct())
    {
        if (Model.Stories.Any(row => row.StatusName == statusName))
        {
        <h3>@statusName</h3>
        <ul class="stories">
            @foreach (var story in Model.Stories.Where(row => row.StatusName == statusName).OrderBy(row => row.EstimatedCompletedDate))
            {
                <li><strong>@story.StoryId</strong>
                    <p>
                        @if (story.AssignedTo != 0)
                        { 
                            <span class="assignment">@Html.Gravatar(story.AssignedToEmail, story.AssignedToName)@story.AssignedToName</span>
                        }
                        <div class="clip">
                            <a href="@Url.Action("Details", "Story", new { id = story.StoryId })" title="@story.Description">@story.Description</a></div>
                        <span class="date">by <em>@story.CreatedByName</em> | Due on: @story.EstimatedCompletedDate.ToString("MMMM d, yyyy") | Est. Hour: @story.EstimatedDuration</span></p>
                </li> 
            }
        </ul>
        }
    }
</div>
