@model Epiworx.WebMvc.Models.StoryListModel
@foreach (var status in Model.Statuses)
{
    if (Model.Stories.Any(row => row.StatusId == status.StatusId))
    {
    <h3>@status.Name</h3>
    <ul class="stories">
        @foreach (var story in Model.Stories.Where(row => row.StatusId == status.StatusId))
        {
            <li>
                <strong>@story.StoryId</strong>
                <p>
                    <span class="assignment">@story.AssignedToName</span>
                    <a href="@Url.Action("Details", "Story", new { id = story.StoryId})">@story.Description</a>
                    <span class="date">by <em>@story.CreatedByName</em> @story.CreatedDate.ToString("MMMM d, yyyy")</span></p>
            </li> 
        }
    </ul>
    }
}
