@model Epiworx.WebMvc.Models.UserListModel
@using Epiworx.WebMvc.Helpers
<div class="hgroup">
    <h2>
        Users</h2>
</div>
<table class="users">
    <thead>
        <tr>
            <th style="width: 300px;">
                Name
            </th>
            <th>
                Status
            </th>
            <th class="number">
                Ready<br />
                Stories
            </th>
            <th class="number">
                Open<br />
                Stories
            </th>
            <th class="number">
                Completed<br />
                Stories
            </th>
            <th class="number">
                Duration
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        { 
            <tr data-active="@user.IsActive" data-archived="@user.IsArchived">
                <td>
                    <div class="user">@Html.Gravatar(user.Email, user.Name, "avatar")
                        <strong>@Html.ActionLink(user.Name, "Details", new { id = user.UserId })</strong>
                        <a href="mailto:@user.Email" class="email">@user.Email</a>
                    </div>
                </td>
                <td>
                    @if (Model.Timelines.Count() != 0)
                    {
                        var timelines = Model.Timelines
                            .Where(timeline => timeline.SourceId == user.UserId)
                            .OrderByDescending(timeline => timeline.CreatedDate);

                        if (timelines.Count() != 0)
                        {
                            var timeline = timelines.First();
                        <div class="note">
                            <p title="@timeline.Body">
                                @timeline.Body
                            </p>
                            @Html.Gravatar(timeline.CreatedByEmail, timeline.CreatedByName)
                            <strong class="user">
                                @timeline.CreatedByName</strong><span class="date">@Html.ToRelativeDate(timeline.CreatedDate)</span>
                        </div>
                        }
                    }
                </td>
                <td class="number">
                    <a href="@Url.Action("List", "Story", new { userId = user.UserId, isOpened = "False", isCompleted = "False", isArchived = "False" })">@Model.Stories.Count(row => row.AssignedTo == user.UserId
                    && !row.IsOpened && !row.IsCompleted)</a>
                </td>
                <td class="number">
                    <a href="@Url.Action("List", "Story", new { userId = user.UserId, isOpened = "True", isArchived = "False" })">@Model.Stories.Count(row => row.AssignedTo == user.UserId
                    && row.IsOpened)</a>
                </td>
                <td class="number">
                    <a href="@Url.Action("List", "Story", new { userId = user.UserId, isCompleted = "True", isArchived = "False" })">@Model.Stories.Count(row => row.AssignedTo == user.UserId
                    && row.IsCompleted)</a>
                </td>
                <td class="number">@Model.Stories.Where(row => row.AssignedTo == user.UserId).Sum(row => row.Duration)
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">
                Total
            </td>
            <td class="number">
                <a href="@Url.Action("List", "Story", new { isOpened = "False", isCompleted = "False", isArchived = "False" })">@Model.Stories.Count(row => !row.IsOpened && !row.IsCompleted)</a>
            </td>
            <td class="number">
                <a href="@Url.Action("List", "Story", new { isOpened = "True", isArchived = "False" })">@Model.Stories.Count(row => row.IsOpened)</a>
            </td>
            <td class="number">
                <a href="@Url.Action("List", "Story", new { isCompleted = "True", isArchived = "False" })">@Model.Stories.Count(row => row.IsCompleted)</a>
            </td>
            <td class="number">@Model.Stories.Sum(row => row.Duration)
            </td>
        </tr>
    </tfoot>
</table>