@model Epiworx.WebMvc.Models.ProjectFormModel
@using Epiworx.WebMvc.Helpers
@using Epiworx.WebMvc.Models
<div class="hgroup">
    <h2>
        @Model.Project.Name</h2>
</div>
<fieldset>
    <legend>Project</legend>
    <p>
        <label>
            Name</label>
        <span class="big">@Model.Project.Name</span></p>
    <p>
        <label>
            Description</label>
        <span>@Model.Project.Description</span></p>
</fieldset>
<div class="hgroup">
    <h2>
        Stories</h2>
</div>
@Html.Partial("_StoryList", new StoryListModel { Stories = Model.Stories, Statuses = Model.Statuses })

@section SideBar
{
    <div class="developer note">Make it so we can drag and drop a status, sprint or collaborator onto a story and have it automatically update OR drag a status, sprint or collaborator onto a story</div>
    @Html.Partial("_PartActionItemList")
    @Html.Partial("_PartStatusList")
    @Html.Partial("_PartSprintList")
    @Html.Partial("_PartUserList")
}
