@model Epiworx.WebMvc.Models.ProjectListModel
@using Epiworx.WebMvc.Helpers
<div class="hgroup">
    <h2>
        Projects</h2>
</div>
<table>
    <thead>
        <tr>
            <th style="width: 400px;">
                Name
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model.Projects.OrderBy(row => row.Name))
        { 
            <tr>
                <td>@Html.ActionLink(project.Name, "Details", new { id = project.ProjectId }, new { title = @project.Description } )
                </td>
                <td>
                    @if (Model.Notes.Count() != 0)
                    {
                        var notes = Model.Notes
                            .Where(note => note.SourceId == project.ProjectId)
                            .OrderByDescending(note => note.CreatedDate);

                        if (notes.Count() != 0)
                        {
                            var note = notes.First();
                        <div class="note">
                            <p title="@note.Body">
                                @note.Body
                            </p>
                            @Html.Gravatar(note.CreatedByEmail, note.CreatedByName)
                            <strong class="user">
                                @note.CreatedByName</strong><span class="date">@Html.ToRelativeDate(note.CreatedDate)</span>
                        </div>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
