@model Epiworx.WebMvc.Models.ProjectListModel
@using Epiworx.WebMvc.Helpers
<div class="hgroup">
    <h2>
        Projects</h2>
</div>
<ul class="filter">
    <li><strong>Filters</strong></li>
    <li class="selected"><a href="" data-filter="Active">Active</a></li>
    <li><a href="" data-filter="Inactive">Inactive</a></li>
    <li><a href="" data-filter="Archived">Archived</a></li>
</ul>
<table class="projects">
    <thead>
        <tr>
            <th style="width: 400px;">
                Name
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model.Projects.OrderBy(row => row.Name))
        { 
            <tr data-active="@project.IsActive" data-archived="@project.IsArchived">
                <td>@Html.ActionLink(project.Name, "Details", new { id = project.ProjectId }, new { title = @project.Description })
                </td>
                <td>
                    @if (Model.Notes.Count() != 0)
                    {
                        var notes = Model.Notes
                            .Where(note => note.SourceId == project.ProjectId)
                            .OrderByDescending(note => note.CreatedDate);

                        if (notes.Count() != 0)
                        {
                            var note = notes.First();
                        <div class="note">
                            <p title="@note.Body">
                                @note.Body
                            </p>
                            @Html.Gravatar(note.CreatedByEmail, note.CreatedByName)
                            <strong class="user">
                                @note.CreatedByName</strong><span class="date">@Html.ToRelativeDate(note.CreatedDate)</span>
                        </div>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">

    $("table.projects tr[data-active='False']").hide();

    $(".filter a").click(function () {
        event.preventDefault();
        $(".filter li").removeClass("selected");
        $(this).parent("li").addClass("selected");
        $("table.projects tr").hide();
        switch ($(this).data("filter")) {
            case "Active":
                $("table.projects tr[data-active='True']").show();
                break;
            case "Inactive":
                $("table.projects tr[data-active='False'][data-archived='False']").show();
                break;
            case "Archived":
                $("table.projects tr[data-archived='True']").show();
                break;
        }
    });

</script>