@model Epiworx.WebMvc.Models.ProjectListModel
@using Epiworx.WebMvc.Helpers
<div class="hgroup">
    <img src="@Url.Content("~/Content/project.png")" alt="Project" />
    <h2>
        Projects</h2>
</div>
<ul class="filter">
    <li><strong>Filters</strong></li>
    <li class="selected"><a href="" data-filter="Active">Active</a></li>
    <li><a href="" data-filter="Inactive">Inactive</a></li>
    <li><a href="" data-filter="Archived">Archived</a></li>
</ul>
<table class="projects">
    <thead>
        <tr>
            <th style="width: 400px;">
                Name
            </th>
            <th>
                Status
            </th>
            <th class="number">
                Ready<br />
                Stories
            </th>
            <th class="number">
                Open<br />
                Stories
            </th>
            <th class="number">
                Completed<br />
                Stories
            </th>
            <th class="number">
                Duration
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model.Projects.OrderBy(row => row.Name))
        { 
            <tr data-active="@project.IsActive" data-archived="@project.IsArchived">
                <td>@Html.ActionLink(project.Name, "Details", new { id = project.ProjectId }, null)
                    <div class="clip" title="@project.Description">@project.Description</div>
                </td>
                <td>
                    @if (Model.Timelines.Count() != 0)
                    {
                        var timelines = Model.Timelines
                            .Where(timeline => timeline.SourceId == project.ProjectId)
                            .OrderByDescending(timeline => timeline.CreatedDate);

                        if (timelines.Count() != 0)
                        {
                            var timeline = timelines.First();
                        <div class="note">
                            <p title="@timeline.Body">
                                @timeline.Body
                            </p>
                            @Html.Gravatar(timeline.CreatedByEmail, timeline.CreatedByName)
                            <strong class="user">
                                @timeline.CreatedByName</strong><span class="date">@Html.ToRelativeDate(timeline.CreatedDate)</span>
                        </div>
                        }
                    }
                </td>
                <td class="number">
                    <a href="@Url.Action("List", "Story", new { projectId = project.ProjectId, isOpened = "False", isCompleted = "False", isArchived = "False" })">@Model.Stories.Count(row => row.ProjectId == project.ProjectId && !row.IsOpened && !row.IsCompleted)</a>
                </td>
                <td class="number">
                    <a href="@Url.Action("List", "Story", new { projectId = project.ProjectId, isOpened = "True", isArchived = "False" })">@Model.Stories.Count(row => row.ProjectId == project.ProjectId && row.IsOpened)</a>
                </td>
                <td class="number">
                    <a href="@Url.Action("List", "Story", new { projectId = project.ProjectId, isCompleted = "True", isArchived = "False" })">@Model.Stories.Count(row => row.ProjectId == project.ProjectId && row.IsCompleted)</a>
                </td>
                <td class="number">@Model.Stories.Where(row => row.ProjectId == project.ProjectId).Sum(row => row.Duration)
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">
                Total
            </td>
            <td class="number">
                <a href="@Url.Action("List", "Story", new { isOpened = "False", isCompleted = "False", isArchived = "False" })">@Model.Stories.Count(row => !row.IsOpened && !row.IsCompleted)</a>
            </td>
            <td class="number">
                <a href="@Url.Action("List", "Story", new { isOpened = "True", isArchived = "False" })">@Model.Stories.Count(row => row.IsOpened)</a>
            </td>
            <td class="number">
                <a href="@Url.Action("List", "Story", new { isCompleted = "True", isArchived = "False" })">@Model.Stories.Count(row => row.IsCompleted)</a>
            </td>
            <td class="number">@Model.Stories.Sum(row => row.Duration)
            </td>
        </tr>
    </tfoot>
</table>
@section SideBar
{
    @Html.Partial("_PartActionItemList")
    @Html.Partial("_PartSprintByProjectList")
}
<script type="text/javascript">

    $("table.projects tr[data-active='False']").hide();

    $(".filter a").click(function (e) {
        e.preventDefault();
        $(".filter li").removeClass("selected");
        $(this).parent("li").addClass("selected");
        $("table.projects tbody tr").hide();
        switch ($(this).data("filter")) {
            case "Active":
                $("table.projects tbody tr[data-active='True']").show();
                break;
            case "Inactive":
                $("table.projects tbody tr[data-active='False'][data-archived='False']").show();
                break;
            case "Archived":
                $("table.projects tbody tr[data-archived='True']").show();
                break;
        }
    });

</script>
