@model Epiworx.WebMvc.Models.StoryFormModel
@using Epiworx.WebMvc.Helpers
@using Epiworx.WebMvc.Models
<div class="hgroup">
    <h2>
        @Model.Story.StoryId</h2>
</div>
<fieldset>
    <legend>Story</legend>
    <p>
        <label>
            Description</label>
        <span class="big">@Model.Story.Description</span></p>
    <p>
        <label>
            Project</label>
        <span><a href="@Url.Action("Details", "Project", new { id = Model.Story.ProjectId })">@Model.Story.ProjectName</a></span></p>
    <p>
        <label>
            Sprint</label>
        <span><a href="@Url.Action("Details", "Sprint", new { id = Model.Story.ProjectId })">@Model.Story.SprintName</a></span></p>
    <p>
        <label>
            Status</label>
        <span>@Model.Story.StatusName</span></p>
    <p>
        <label>
            Assigned To</label>
        <span>@Model.Story.AssignedToName</span></p>
    <p>
        <label>
            Estimated Completed On</label>
        <span>@Model.Story.EstimatedCompletedDate.ToShortDateString()</span></p>
    <p>
        <label>
            Estimated Duration</label>
        <span>@Model.Story.EstimatedDuration</span></p>
    <p>
        <label>
            Completed On</label>
        <span>@Model.Story.CompletedDate.ToShortDateString()</span></p>
    <p>
        <label>
            Duration</label>
        <span>@Model.Story.Duration</span></p>
</fieldset>
@Html.Partial("_NoteList", new NoteListModel { Notes = Model.Notes, Attachments = Model.Attachments })
@section SideBar
{
    @Html.Partial("_PartActionItemList")
    @Html.Partial("_PartHourList")
}
