@model Epiworx.WebMvc.Models.StoryListModel
@using Epiworx.WebMvc.Helpers
<div class="hgroup">
    <h2>
        Stories</h2>
</div>
<table>
    <thead>
        <tr>
            <th style="width: 60px">
                No.
            </th>
            <th style="width: 300px">
                Project
            </th>
            <th style="width: 100px">
                Status
            </th>
            <th>
                Description
            </th>
            <th class="number">
                Duration
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var story in Model.Stories)
        { 
            <tr>
                <td>
                    @Html.ActionLink(story.StoryId.ToString(), "Details", new { id = story.StoryId })
                </td>
                <td>
                    @Html.ActionLink(story.ProjectName, "Details", "Project", new { id = story.ProjectId }, null)
                </td>
                <td>@story.StatusName
                </td>
                <td>
                    <p class="clip" title="@story.Description">@story.Description</p>
                </td>
                <td class="number">@story.Duration.ToString("F2")
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                Total
            </td>
            <td class="number">
                @Model.Stories.Sum(row => row.Duration).ToString("F2")
            </td>
        </tr>
    </tfoot>
</table>
