@model Epiworx.WebMvc.Models.AccountLogOnModel
@using Epiworx.WebMvc.Helpers
<div class="hgroup">
    <h2>
        Log On</h2>
    <p>
        Please enter your user name and password</p>
</div>
@Html.ValidationSummary(false, "Oh snap! The login was unsuccessful. Please correct the errors and try again.")
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Log On</legend>
        <label for="UserName">Name</label>
        @Html.TextBoxFor(m => Model.UserName, new { @class = "big" })
        <label for="Password">Password</label>
        @Html.PasswordFor(m => Model.Password, new { @class = "big" })
        <label for="RememberMe" class="checkbox">
            @Html.CheckBoxFor(m => Model.RememberMe)
            Remember me</label>
    </fieldset>
    <ul class="commands">
        <li>
            <button>
                Logon</button></li>
        <li><span>or</span></li>
        <li>@this.Html.ActionLink("I forgot my password", "ForgotPassword")</li>
        <li>@this.Html.ActionLink("I am a new user", "Register")</li>
    </ul>
}
