@model Epiworx.WebMvc.Models.SprintFormModel
@using Epiworx.WebMvc.Helpers
@using Epiworx.WebMvc.Models
<div class="hgroup">
    <img src="@Url.Content("~/Content/sprint.png")" alt="Sprint"/>
    <h2>
        @Model.Sprint.Name</h2>
</div>
<fieldset>
    <legend>Sprint</legend>
    <p>
        <label>
            Name</label>
        <span class="big">@Model.Sprint.Name</span></p>
    <p>
        <label>
            Project</label>
        <span><a href="@Url.Action("Details", "Project", new { id = Model.Sprint.ProjectId })">@Model.Sprint.ProjectName</a></span></p>
    <p>
        <label>
            Estimated Completed On</label>
        <span>@Model.Sprint.EstimatedCompletedDate.ToShortDateString()</span></p>
    <p>
        <label>
            Estimated Duration</label>
        <span>@Model.Sprint.EstimatedDuration</span></p>
    <p>
        <label>
            Completed On</label>
        <span>@Model.Sprint.CompletedDate.ToShortDateString()</span></p>
    <p>
        <label>
            Duration</label>
        <span>@Model.Sprint.Duration</span></p>
</fieldset>
@Html.Partial("_StoryList", new StoryListModel { Stories = Model.Stories, Statuses = Model.Statuses })
@Html.Partial("_NoteList", new NoteListModel { Notes = Model.Notes, Attachments = Model.Attachments })
@section SideBar
{
    <div class="developer note">
        Make it so we can drag and drop a status or collaborator onto a story and have it
        automatically update OR drag a status or collaborator onto a story</div>
    @Html.Partial("_PartActionItemList")
    @Html.Partial("_PartStatusList")
    @Html.Partial("_PartUserList")
}
